<div id="rmp_viewport" ng-init="init()">
	<div class="rmp_gametilebox" ng-repeat="tile in tiles track by $index">
		<span ng-show="tile.unit" class="glyphicon {{tile.unit.graphic}}" ng-class="{equipped:tile.unit.heldRelic}"></span>
		<span ng-hide="tile.unit">&zwj;</span>
	</div>
</div>
<div id="rmp_legend">
	<span class="legend-player"><span class="glyphicon glyphicon-chevron-up"></span> = Player</span>
	<br /><br />
	<span class="legend-relic"><span class="glyphicon glyphicon-gift"></span> = Relic</span>
	<br /><br />
	<span class="legend-dropoff"><span class="glyphicon glyphicon-record"></span> = Drop Location</span>
	<div id="rmp_actionqueue">
		<span>Commands issued (3 most recent displayed, others will still execute)</span>
		<ul>
			<li ng-repeat="action in actionQueue track by $index" ng-if="$index > actionQueue.length-4">
				{{action}}
			</li>
			<li ng-if="actionQueue.length > 3">{{actionQueue.length-3}} more commands</li>
		</ul>
	</div>

	<div id="instructions">
		<h3>Instructions:</h3>
		<p>
			You are a robotics programmer. The robot you control can only execute an entire series of movement which must be calculated in advance.
			<br />The robot can only display its 3 most recently entered commands, but will remember everything you input.
			<br /><br />Your goals are as follows:
			<ul>
				<li>Use the controls given below to guide the robot to be face-to-face with a Relic (<span class="legend-relic glyphicon glyphicon-gift"></span>)</li>
				<li>Then, have your robot pick up the Relic (<span class="legend-relic glyphicon glyphicon-gift"></span>).</li>
				<li>Guide your robot to be face-to-face with the drop-off location (<span class="legend-dropoff glyphicon glyphicon-record"></span>) </li>
				<li>Command the robot to drop off the relic. Issuing this command will execute the script.</li>
			</ul>

			If the robot should accidentally run into an obstacle, you will need to start over from the beginning.
		</p>
	</div>
</div>

<br /><br />
<button class="btn btn-warning" ng-click="resetQueue()" ng-disabled="executing">Reset Script</button>
<button title="Move Forward" class="btn btn-default" ng-click="addActionToQueue('Move Forward')" ng-disabled="executing"><span class="glyphicon glyphicon-arrow-up"></span></button>
<button title="Turn Left" class="btn btn-default" ng-click="addActionToQueue('Turn Left')" ng-disabled="executing"><span class="glyphicon glyphicon-reverse glyphicon-share-alt"></span></button>
<button title="Turn Right" class="btn btn-default" ng-click="addActionToQueue('Turn Right')" ng-disabled="executing"><span class="glyphicon glyphicon-share-alt"></span></button>
<button title="Move Backward" class="btn btn-default" ng-click="addActionToQueue('Move Backward')" ng-disabled="executing"><span class="glyphicon glyphicon-arrow-down"></span></button>
<button class="btn btn-default" ng-click="addActionToQueue('Pick Up')" ng-disabled="executing || pickUpQueued">Pick Up Relic</button>
<button class="btn btn-default" ng-click="addActionToQueue('Drop Off')" ng-disabled="executing || dropOffQueued">Drop Off Relic</button>
