body {
    padding-top: 60px;
    transition: color 0.1s linear;
    background-color: black;
}
.ng-cloak {
    display: none !important;
}
#rmp_viewport {
    display: inline-block;
    width: 642px;
    height: 482px;
    background: #444;
    border: 1px solid #646464;
}
#rmp_legend {
    display: inline-block;
    position: absolute;
    padding-left: 20px;
}
#rmp_actionqueue {
    border: 1px solid rgba(255,255,255,0.05);
    margin-top: 20px;
    padding: 20px;
    color: #eee;
}
.rmp_gametilebox {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 4px 0;
    border: 1px inset rgba(0,0,0,0.03);
    text-align: center;
}
.glyphicon {
    font-size: 24px;
    top: 0;
    line-height: 0;
    vertical-align: middle;
    &.glyphicon-chevron-up,
    &.glyphicon-chevron-right, 
    &.glyphicon-chevron-down, 
    &.glyphicon-chevron-left {
        color: goldenrod;
        &.equipped {
            color: aquamarine;
        }
    }
    &.glyphicon-gift {
        color: #64FF64;
    }
    &.glyphicon-record {
        color: white;
    }
}

.glyphicon-reverse {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.legend-relic {
    color: #64FF64;
}

.legend-player {
    color: goldenrod;
}

.legend-dropoff {
    color: white;
}

#instructions {
    color: #ccc;
}